@use "../../sass/variables/colors.scss" as c;
@use "../../sass/mixins/media-queries" as *;

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  border: 2px solid c.$border-coloring;
  padding: 5px;
  max-width: 100%;
  width: 700px;

  &:focus-within {
    border-color: c.$primary;
  }
  @include tablet {
    max-width: 80%;
  }
  @include large-desktop {
    border-radius: 35px;
    padding: 7px 10px;
    width: 1200px;
  }
}
.icon {
  font-size: 1em;
  padding: 7px;
  @include large-desktop {
    font-size: 1.3em;
    padding: 7px 15px;
  }
}
.input {
  border: none;
  background: transparent;
  flex-grow: 1;
  padding: 8px 0px;
  &:focus {
    outline: none;
  }
  @include large-desktop {
    font-size: 1.4em;
    padding: 5px 0px;
  }
}
.btn {
  color: white;
  background-color: c.$primary;
  font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  border-color: c.$border-coloring;
  padding: 6px 16px;
  &:disabled {
    opacity: 0.4;
  }
  @include large-desktop {
    font-size: 1.4em;
    border-radius: 30px;
    padding: 6px 15px;
  }
}
