@use "../../sass/variables/fonts.scss" as f;
@use "../../sass/variables/colors.scss" as c;
@use "../../sass/mixins/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
  gap: 1em;
}

.heading {
  @include large-heading;
  font-size: 3em;
  font-weight: 900;
}

.text {
  margin: 0;
}
