@use "../../sass/variables/fonts.scss" as f;
@use "../../sass/variables/colors.scss" as c;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
  gap: 1em;
}

.heading {
  font-family: f.$header;
  font-weight: 900;
  font-size: 3em;
  color: c.$header-text;
  margin: 0;
}

.text {
  color: c.$main-text;
  margin: 0;
}
