@use "../../sass/variables/colors.scss" as c;
@use "../../sass/mixins/media-queries" as *;

$loadingColor: #f0ebe3;
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.6;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid c.$border-coloring;

  &_loading {
    animation: pulse 1.5s ease-in-out infinite;
  }

  @include large-desktop {
    width: 400px;
  }
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 300px;
  padding: 1em 1em 2.5em 1em;
  gap: 0.5em;
  position: relative;
  @include large-desktop {
    height: 400px;
    padding: 1.5em 1.5em 3.5em 1.5em;
    gap: 0.75em;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 2.5em;
    left: 1em;
    width: calc(100% - 2em);
    height: 40px;
    background: linear-gradient(transparent, white);
    @include large-desktop {
      height: 50px;
      bottom: 3.25em;
      width: calc(100% - 3em);
    }
  }
}
.imgContainer {
  display: flex;
  justify-content: center;
  padding: 1em;
  &_bgColor {
    &_0 {
      background-color: c.$accent;
    }
    &_1 {
      background-color: c.$secondary;
    }
    &_2 {
      background-color: c.$primary;
    }
    &_3 {
      background-color: c.$tertiary;
    }
    &_loading {
      background-color: $loadingColor;
    }
  }
}
.img {
  height: 220px;
  width: auto;
  object-fit: contain;
}
.category {
  margin: 0;
  color: c.$primary;
  background-color: #fff0e0;
  font-weight: bold;
  font-size: 0.8em;
  padding: 4px 6px;
  border-radius: 10px;
  @include large-desktop {
    font-size: 1.1em;
    padding: 6px 10px;
    border-radius: 15px;
  }
}
.title {
  color: c.$header-text;
  font-size: 1.1em;
  margin: 0;
  @include large-desktop {
    font-size: 1.6em;
  }
}
.author {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  @include large-desktop {
    font-size: 1.3em;
  }
}
.description {
  font-size: 0.85em;
  margin: 0;
  @include large-desktop {
    font-size: 1.1em;
  }
  overflow: hidden;
}

.readMore {
  margin: 0;
  position: absolute;
  bottom: 1.25em;
  left: 1.25em;
  font-size: 0.85em;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  @include large-desktop {
    bottom: 1.5em;
    left: 1.5em;
    font-size: 1.1em;
  }
}
.loadingText {
  background-color: $loadingColor;
  border-radius: 10px;
  margin: 0.25em;
  &_small {
    width: 150px;
    padding: 8px;
  }
  &_large {
    width: 200px;
    padding: 10px;
  }
  @include large-desktop {
    padding: 6px 10px;
    border-radius: 15px;
  }
}
