@use "./sass/normalize";
@use "./sass/variables/colors.scss" as c;
@use "./sass/variables/fonts.scss" as f;

body {
  background-color: c.$bg;
  font-family: f.$text;
  color: c.$main-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: f.$header;
  font-weight: 900;
  color: c.$header-text;
  margin: 0;
}
